# -*- coding: utf-8 -*-

"""
    healthoslib.controllers.drug_interactions_controller

    This file was automatically generated by APIMATIC BETA v2.0 on 02/18/2017
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.o_auth_2 import OAuth2

class DrugInteractionsController(BaseController):

    """A Controller to access Endpoints in the healthoslib API."""
    

    def get_generics_interactions(self,
                                  generic_id):
        """Does a GET request to /interactions/generics/{generic_id}.

        TODO: Add Description

        Args:
            generic_id (string): TODO: type description here. Example: 

        Returns:
            mixed: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri.format(Configuration.host)
        _query_builder += '/interactions/generics/{generic_id}'
        _query_builder = APIHelper.append_url_with_template_parameters(_query_builder, { 
            'generic_id': generic_id
        })
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json'
        }

        # Prepare and execute request
        _request = self.http_client.get(_query_url, headers=_headers)
        OAuth2.apply(_request)
        _context = self.execute_request(_request)        
        self.validate_response(_context)    

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body)

    def get_medicine_interactions(self,
                                  medicine_id):
        """Does a GET request to /interactions/medicines/{medicine_id}.

        TODO: Add Description

        Args:
            medicine_id (string): TODO: type description here. Example: 

        Returns:
            mixed: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri.format(Configuration.host)
        _query_builder += '/interactions/medicines/{medicine_id}'
        _query_builder = APIHelper.append_url_with_template_parameters(_query_builder, { 
            'medicine_id': medicine_id
        })
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json'
        }

        # Prepare and execute request
        _request = self.http_client.get(_query_url, headers=_headers)
        OAuth2.apply(_request)
        _context = self.execute_request(_request)        
        self.validate_response(_context)    

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body)
